@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

.page-body {
  min-width: 1170px;
  min-height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;

  background: #FEAFC3;
}

.page-header {
  width:1170px;
  margin: 0 auto;
  padding:0;
}

.page-header-wrapper {
  width:100%;
  min-height: 104px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  box-sizing: border-box;
}

.menu-list {
  width: 650px;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap:32px;

  list-style-type: none;
}

.menu-item-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #2D3440;
  cursor: pointer;
}

.header-logo-link {
  width: 137px;
  height: 56px;

  cursor: pointer;
}

.user-menu-list {
  width: 500px;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:16px;

  list-style-type: none;
}

.phone-link {
  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  color: #2D3440;
  cursor: pointer;
}

.user-menu-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  box-sizing: border-box;
  cursor: pointer;
}

.user-menu-item-link.search {
  width: 32px;
  height:32px;
  padding: 8px;

  border-radius: 27px;
}

.user-menu-item-link.login {
  width: 88px;
  height:32px;
  padding: 6px 16px;

  border-radius: 30px;
}

.user-menu-item-link.basket {
  width: 115px;
  height: 32px;
  padding: 6px 16px;

  border-radius: 30px;
}

.page-main {
  width:1170px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap:80px;

  flex-grow: 1;
}

.slider {
  min-height: 554px;
}

.slider-wrapper {
  padding: 21px 0 0 70px;

  display: flex;

  box-sizing: border-box;
}

.slider-content {
  width: 470px;
  margin-top: 115px;
}

.slider-content-title {
  min-height: 92px;
  margin: 0 0 24px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;

  color: #2D3440;
}

.slider-content-description {
  width: 414px;
  margin-bottom: 48px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  color: #2D3440;
}

.slider-content-button {
  width: 139px;
  height: 44px;
  padding: 12px 32px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  border: none;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.white-button {
  color: #2D3440;
  background: #FCFCFC;
  outline: 4px solid rgba(252, 252, 252, 0.4);
}

.red-button {
  color: #FCFCFC;
  background: #FF2F64;
  outline: 4px solid rgba(255, 47, 100, 0.3);
}

.gifts-title {
  width: 434px;
  margin: 0 auto 55px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;

  color: #2D3440;
}

.gifts-cards {
  min-height: 268px;

  display: flex;
  gap:30px;
}

.gifts-card {
  width: 570px;
  min-height: 268px;
  padding: 36px;

  background: #FF7799;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
}

.gifts-card-title {
  margin: 0 0 28px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #2D3440;
}

.gifts-card-content {
  margin: 0 0 28px 0;
  width: 328px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #2D3440;
}

.gifts-card-button {
  width: 176px;
  min-height: 44px;
}

.gifts-card-photo {
  width: 219px;
  height: 268px;

  position: absolute;
  top:0;
  left:351px;
}

.gifts-card-photo.raspberry {
  background: url("/images/raspberry.png");
}

.gifts-card-photo.marshmallow {
  background: url("/images/marshmallow.png");
}

.popular {
  min-height: 92px;
}

.popular-title {
  width: 527px;
  margin: 0 auto 56px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;

  color: #2D3440;
}

.popular-ice-list {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  list-style-type: none;
}

.popular-ice-item {
  width: 270px;
  min-height: 281px;
  margin-top: 51px;
  padding: 133px 40px 24px;

  background: #FCFCFC;
  border-radius: 8px;

  box-sizing: border-box;
  position: relative;
}

.popular-ice-item-photo {
  position: absolute;
  top: -52px;
  left: 40px;
}

.popular-ice-item-title {
  margin: 0 0 8px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2D3440;
  text-align: center;
}

.popular-ice-item-content {
  margin: 0 0 16px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;
  text-align: center;
}

.popular-ice-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-ice-item-price {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2D3440;
}

.popular-ice-item-icon-wrapper {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #FF2F64;
  border-radius: 26px;
}

.about {
  min-height: 480px;

  background: url("/images/about-background.jpg");
  background-size: 1170px 480px;
  border-radius: 16px;
}

.about-wrapper {
  width: 1122px;
  min-height: 432px;
  margin: 24px;
  padding: 56px 40px;

  background: #FFFFFF;
  border-radius: 16px;
  box-sizing: border-box;
}

.about-title {
  width: 995px;
  margin: 0 auto 56px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  color: #2D3440;
  text-align: center;
}

.about-content-list {
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 64px 473px 64px 442px;
  grid-template-rows: 1fr 40px 1fr;

  list-style-type: none;
}

.about-content-icon {
  width: 48px;
  height: 48px;

  display: flex;

  border: 3px solid #2D3440;
  border-radius: 50%;
  box-sizing: border-box;
}

.about-content-icon:nth-child(1) {
  grid-row: 1 / 3;
  background: url("/images/ice-icon.svg") no-repeat 50% 50%;
}

.about-content-icon:nth-child(3) {
  grid-row: 1 / 3;
  background: url("/images/cow-icon.svg") no-repeat 50% 50%;
}

.about-content-icon:nth-child(5) {
  background: url("/images/natural-icon.png") no-repeat 50% 50%;
}

.about-content-icon:nth-child(7) {
  background: url("/images/thermometer-icon.png") no-repeat 50% 50%;
}

.about-content-item {
  width: 442px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;

  box-sizing: border-box;
}

.about-content-item:nth-child(2) {
  grid-row: 1 / 3;
}

.about-content-item:nth-child(4) {
  grid-row: 1 / 3;
}

.blog {
  min-height: 224px;

  display: flex;
  justify-content: space-between;
}

.blog-news {
  width: 570px;
  min-height: 224px;
  padding: 33px 235px 67px 32px;

  background: url("/images/news-background.jpg");
  background-size: 570px 224px;
  border-radius: 16px;

  box-sizing: border-box;
}

.blog-news-title {
  margin: 12px 0 0 0;
  width: 303px;

  font-family: 'Inter',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #2D3440;
}

.blog p {
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #565C66;
}

.blog-mailing-wrapper {
  width: 570px;
  height: 224px;
  padding: 6px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("/images/mailing-background.jpg");
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-mailing {
  width: 558px;
  height: 212px;
  padding: 26px;

  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  box-sizing: border-box;
}

.blog-mailing p {
  margin-bottom: 42px;

  line-height: 22px;
}

.blog-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-form-input {
  width: 332px;
  height: 48px;
  padding: 14px;

  border: 1px solid #B9B9B9;
  border-radius: 4px;
  box-sizing: border-box;
}

.blog-form-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #B9B9B9;
}

.blog-form-button {
  width: 152px;
  min-height: 44px;
}

.delivery {
  padding: 64px 64px 64px 100px;
  min-height: 534px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: url("/images/delivery-background.jpg");
  border-radius: 16px;
  box-sizing: border-box;
}

.delivery-content {
  width: 371px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delivery-title {
  margin: 0 0 24px 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  color: #2D3440;
}

.delivery p {
  margin:0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;
}

.delivery-form {
  width: 500px;
  height: 406px;
}

.contacts {
  min-height: 492px;
  padding: 64px;

  background: url("/images/contacts-background.jpg");
  border-radius: 16px;
  box-sizing: border-box;
}

.contacts-content {
  width: 343px;
  min-height: 364px;
  padding: 40px;

  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
}

.contacts-par {
  margin: 0 0 12px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #565C66;
}

.contacts-address {
  margin: 0 0 24px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2D3440;
}

.contacts-phone {
  margin: 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #2D3440;
}

.contacts-time {
  margin: 0 0 32px 0;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #565C66;
}

.contacts-button {
  width: 250px;
  min-height: 46px;
}

.page-footer {
  width:1170px;
  margin: 0 auto;
  padding:45px 14px 48px 4px;

  display: flex;
  box-sizing: border-box;
}

.footer-social-list {
  margin: 0 204px 0 0;
  padding: 0;
  width:200px;
  height: 24px;

  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.footer-social-item{
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;

}

.footer-social-link{
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.footer-social-icon{
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-menu-list {
  margin: 0 182px 0 0;
  padding: 0;

  display: grid;
  grid-template-columns: 23px 150px 200px;
  grid-template-rows: 28px 28px;

  list-style-type: none;
}

.footer-menu-item-heart {
  grid-row: 1 / 3;

  padding-top: 4px;
}

.footer-menu-heart {
  width: 14px;
  height: 13px;

  background: url("/images/heart.svg");
}

.footer-menu-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #2D3440;
  cursor: pointer;
  text-decoration: none;
}

.footer-menu-link.active {
  font-weight: 700;
}

.footer-wrapper {
  width: 193px;
  min-height: 57px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo-link {
  width: 93px;
  height: 27px;

  cursor: pointer;
}

.footer-wrapper div {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #2D3440;
}

.footer-academy-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #2D3440;
  text-decoration: none;

  border-bottom: 1px solid #2D3440;
  cursor: pointer;
}
